

.main-1{
    background-color: rgba(127, 193, 255, 0.849);
}


.main{
    width: 1360px;
    background-color: rgba(138, 183, 224, 0.849);
    margin: auto;
}
.navbar{
    text-align: right;
}
.navbar nav {
    display: flex;
    flex-direction: row-reverse;
    display: inline-block;
    margin: 9px 28px 5px;
}
.slider{
    background-image: url("images/slider/slider.jpg");
    height: 600px;
    background-position:center center;
}
.blog{}
.blog-1{}
.footer{}
.copy{}
.connect-us{}
